html, body, #root {
  height: 100%;
}

body {
  background: linear-gradient(to top right, #83ab6e 1%, #b3a07c 25%, #ab8a70 40%, #a2514f 60%, #8B4593 80%, #888888 100%);
}

body {
  font-family: "Open-sans", sans-serif;
  font-size: 20px;
  color: white;
  height: auto;
}

h1 {
  font-size: 40px;
  letter-spacing: 1.1px;
  margin-bottom: 2px;
}

#root {
  max-width: 800px;
  margin: auto;
}

.App {
  text-align: center;
}

*:focus {
  outline: none;
}

section {
  padding: 0 15px;
}